Package: tbs
Version: 0.1-1
Architecture: all
Maintainer: Colby Connolly <protheophage@gmail.com>
Installed-Size: 16
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
